@font-face {
    font-family: myFirstFont;
    src: url(HankenGrotesk-VariableFont_wght.ttf);
}

@font-face {
    font-family: FontBold;
    src: url(HankenGrotesk-Bold.ttf);
}

@font-face {
    font-family: fontexbold;
    src: url(HankenGrotesk-ExtraBold.ttf);
}

@font-face {
    font-family: FontMedium;
    src: url(HankenGrotesk-Medium.ttf);
}

* {
    font-family: myFirstFont;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.main-container {
    width: 100%;
    height: 695px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: hsl(0, 0%, 100%);
    width: 580px;
    border-radius: 23px;
    display: flex;
    height: 378px;
    box-shadow: 0px 0px 66px hsl(252, 100%, 91%);
}

.left-container {
    width: 50%;
    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    border-radius: 22px;
    text-align: center;
    padding: 30px;

}

.left-container h1 {
    color: hsl(0, 0%, 100%);
    font-size: 18px;
}

.score {
    margin: auto;
    /* border: 2px solid hsl(0, 0%, 100%); */
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    width: 135px;
    height: 135px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    margin-top: 25px;
}

.score :first-child {
    font-size: 50px;
    font-weight: 1000;
    color: white;
}
.score :nth-child(2){
    color:  hsl(0, 0%, 80%)
}

.left-container .great {
    font-size: 28px;
    color: white;
    margin-top: 19px;}

.left-container .scored-msg {
    color: white;
    margin-top: 11px;
    font-size: 16px;
    font-weight: 200;
     word-spacing: 0px;
}

.right-container {
    width: 50%;
    /* background-color: white; */
    padding: 30px;
}

.list ul {
    /* background-color: red; */

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.list .fspan {
    padding: 10px;
    border-radius: 11px;
    list-style-position: inside;

    margin-bottom: 14px;
}

.list button {
    width: 100%;
    border-radius: 25px;
    padding: 9px;
    margin-top: 8px;
    border: none;
    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    color: white;
    cursor: pointer;
}
.list button:hover{
background: hsl(224, 30%, 27%);
}

.fspan {

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.red {
    background-color: hsl(0, 100%, 95%);
    color: hsl(0, 100%, 50%);
    list-style-image: url(icon-reaction.svg);
    font-size: 15px;
}

.yellow {
    background-color: hsl(39, 100%, 95%);
    color: hsl(39, 100%, 50%);
    list-style-image: url(icon-memory.svg);
    font-size: 15px;
}

.green {
    background-color: hsl(166, 100%, 95%);
    color: hsl(166, 100%, 30%);
    list-style-image: url(icon-verbal.svg);
    font-size: 15px;
}

.blue {
    background-color: hsl(234, 85%, 95%);
    color: hsl(234, 85%, 50%);
    list-style-image: url(icon-visual.svg);
    font-size: 15px;
}

.right-container h2 {
    margin-bottom: 15px;
    font-size: 19px;
   
}

@media only screen and (max-width : 459px) {
    
    .container {
     
        flex-direction:column ;
       
    }
    .left-container{
        width: 100%;
        border-radius: 0px 0px 10px 10px;
        /* margin-top: -23%; */
    }
    .right-container {
        width: 100%;
        background-color: white;
        padding: 15px 30px;
    }
    .main-container{
     align-items: start;
        height: 100vh;
    }
}